.homebody{
    background-color:rgb(12, 12, 43);
}
.bluebot{
    height:10rem;
    width:10rem;
    position:relative;
    top:10.5rem;
    left:2rem;
}
.logo{
    height:7rem;
    width:7rem;
    position:relative;
    right:-69rem;
    top:1rem;
    animation:rotate 2s linear infinite
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.demopage{
    height:23rem;
    width:47rem;
    position:fixed;
    left:21%;
    top:30%;
    border:2px solid black;
    border-radius:1.5rem;
    box-shadow: -5px -5px 105px #64f3d5 ;
}
.openai{
    height:2rem;
    width:2rem;
    position:relative;
    top:0.6rem;
    left:0.6rem;
    color:white;
}
.top{
    display:flex;
}
.heading{
    color:white;
    position:relative;
    top:0.7rem;
    left:1.7rem;
}
.btns{
    display:flex;
}
.btn{
    color:white !important;
    position:relative;
    left:61rem;
    top:-1.5rem;
}
.login{
    background-color:rgb(47, 116, 194) !important;
    margin-left:4rem;
    /* margin-right:7rem ; */
}
.signup{
    background-color:rgb(89, 42, 121) !important;
    margin-left:3rem;
}
.logout{
    background-color:rgb(129, 152, 73) !important;
    margin-right:1rem ;
}
.another{
    margin-left:1rem;
    margin-right:-1.3rem;
}
.extra{
    margin-left:11rem;
}
.single{
    margin-left:10rem;
}
.goTo{
    margin-left:1.5rem;
    margin-right:3rem;
    background-color:rgb(47, 116, 194) !important;
}

.typing-text{
    color:white;
    position:fixed;
    left:33%;
    top:8%;
}

@media (max-width:1030px){
    .btn{
        color:white !important;
        position:relative;
        left:61rem;
        top:-1.5rem;
    }
    .login{
        background-color:rgb(47, 116, 194) !important;
        margin-left:-11.5rem;
      

    }
    .signup{
        background-color:rgb(89, 42, 121) !important;
        margin-left:-4rem;
    }
    .logout{
        background-color:rgb(129, 152, 73) !important;
        margin-right:1rem ;
    }
    .another{
        margin-left:1rem;
        margin-right:-1.3rem;
    }
    .extra{
        margin-left:11rem;
    }
    .single{
        margin-left:10rem;
    }
    .goTo{
        margin-left:1.5rem;
        margin-right:3rem;
        background-color:rgb(47, 116, 194) !important;
    }
}


.signupform{
    color:white;
    position:fixed;
    top:20%;
    left:5%;
    width:100%;
}
.input{
    border:2px solid rgb(89, 218, 247) !important;
}
.anchor{
    text-decoration: none;
    color:white;
}
.robot{
    height:400px;
    width:400px;
    position:fixed;
    left:120px;
    top:90px;
}

.signupbtn{
    background-color:#64f3d5;
    width:80px;
    position:relative;
    left:110px;
    height:2rem;
    border-radius:10px;
}
#head{
    color:white;
    text-align:center;
    margin-top: -1rem;
}
.card{
    margin-left:1rem;
    background-color:rgb(17,29,39) !important ;
}
.btn-form{
    position:relative !important;
    right:58.4rem !important;
    top:4rem !important;
}
.search{
    background-color:rgb(17,29,39);
    margin-left:340px;
    height:50px;
    width:935px;
    color:white;
}
.send-icon {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white; 
    display: inline-block; 
    position: absolute; 
    top: 90.5%;          
    left: 96%;
    transform:translate(-50%,-50%) rotate(45deg);         
    cursor:pointer;
}

#userPara{
    margin-top:8px;
    margin-left:7px;
}

.message {
    margin: 5px 0;
}
.user-message {
    background-color: rgb(67, 77, 129);
    height:43px;
    width:90%;
    padding:10px;
    border-radius:5px;
    color:white

}
.bot-message {
    background-color: rgb(12, 12, 43);
    border-radius: 5px;
    color: white;
    padding: 10px; 
    margin: 5px 0;
    padding-left:10px; 
    max-width: 90%; 
}

#chatContainer {
    height: 345px; 
    overflow-y: scroll;
    padding: 10px;
    margin-top: 65px;
    position:fixed;
    top:70px;
    left:27%;
    width:80%;
    color:white;
    background-color:rgb(12, 12, 43);
}
.both{
    position:fixed !important;
    top:5% !important;
    left:1% !important;
    text-align:center !important;
    font-size:1.2rem !important
}


